* {
  font-family: -apple-system, "Apple SD Gothic Neo", BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e5e6ec;
}
::-webkit-scrollbar {
  background-color: #cecfd5;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #9e9fa5;
}

header {
  background-color: #18191f;
  height: 60px;
  margin: 0;
  display: flex;
  padding: 0 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
/* .header-inside {
  align-items: center;
	display: inline-flex;
	height: 100%;
} */

.menu {
  align-items: center;
  display: inline-flex;
  height: 100%;
}
nav ul {
  list-style: none;
  color: hsla(0, 0%, 94%, 0.65);
  padding-left: 16px;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}
nav ul li:first-child {
  color: white;
}

.main {
  display: flex;
  justify-content: center;

  padding: 0 20px;
  position: relative;
}

.banner {
  padding: 0;
  margin: 60px 0 0 0;
  height: 55vh;
  max-height: 700px;
  min-height: 450px;
  width: 100%;
  display: block;
  position: relative;
  background-color: rgba(23, 25, 29, 0.7);
  background-image: url("https://storage.surfit.io/env/landing/O3qj5/img-5219338655f9057422f276.jpg");
}

.banner h1 {
  color: white;
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 40px;
  line-height: 1.3;
  vertical-align: baseline;
  margin: 0;
}
.banner-inside {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.banner h3 {
  color: white;
  text-align: center;
  font-weight: normal;
}

.banner button {
  background-color: #3562ff;
  color: white;
  border: none;
  width: 240px;
  height: 54px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 27px;
  position: relative;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.browser-menu {
  list-style: none;
  position: relative;
  padding-left: 0;
  display: inline-block;
  position: relative;
  top: 30px;

  left: 50%;
  transform: translate(-50%, 0);
  /* margin-left: 15px; */
}

.browser-menu li {
  display: inline-block;
  margin: 0 6px;
}

.browser-menu li img {
  width: 28px;
  height: 28px;
}

.license{
  position: absolute;
  left: 30px;
  bottom: 30px;
}


.banner-img-name,.banner-img-author{
  margin: 0;
  padding: 0;
  color: #b6b7bd;
  font-size: 13.5px;
  font-weight: 300;
}

.banner-img-name{
  
  color: white;
  font-size: 16px;

}
/* 
.banner img{
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7; */
/* } */
/* .main {
  position: absolute;
  bottom: 0;
} */
.sidebar {
  height: 100vh;
  left: 0;
  margin-top: 0;
  padding-top: 70px;
  top: 0;
  transition: all 0.15s;
  width: 260px;
  position: sticky;
}
.sidebar ul {
  list-style: none;
}

.sidebar-category {
  color: #78797d;
}
.select-category {
  background-color: white;
  color: #18191e;
  padding: 5px;
  border-radius: 5px;
}
.sidebar-category-items {
  color: #78797d;
  font-size: 16px;
  line-height: 2;
  height: 400px;
  overflow-y: hidden;
}

.sidebar-category-items:hover {
  overflow-y: scroll;
}
.sidebar-category-items::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 5px;
}
.sidebar-category-items::-webkit-scrollbar-thumb {
  background-color: #cecfd5;
}

.sidebar-category-items li {
  margin-bottom: 5px;
  font-weight: 600;
}
.sidebar-category-items li:hover {
  color: #18191e;
}

.small-device-category {
  display: none;
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.small-device-category p{
  line-height: 60px;
  font-size: 20px;
  font-weight: 700;
  padding-left: 15px;
}

.contents-box {
  height: 100%;
  padding-top: 70px;
  padding-left: 50px;
  padding-bottom: 30px;
}

.recommend-contents {
  float: left;
}

.recommend-contents-grid {
  box-sizing: border-box;
  height: 340px;
  display: grid;
  overflow: hidden;

  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 340px;
  grid-gap: 0 30px;
}

.new-job {
  float: left;
  margin-left: 30px;
}

.new-contents {
  clear: both;
  padding-top: 30px;
}
.content {
  background-color: white;
  border-radius: 15px;
}

.job-offer {
  /* background-color: white; */
  border-radius: 15px;
  width: 300px;
  height: 340px;
  display: grid;
  grid-row: repeat(4, 1fr);
  grid-gap: 15px 0;
  /* 이모지 때문에 5px밀림 */
  padding-top: 5px;
}

.offer {
  background-color: white;
  border-radius: 10px;
  position: relative;
  height: 73.75px;
}
.ad {
  background-color: white;
  border-radius: 10px;
  height: 73.75px;
  background-image: url("https://storage.surfit.io/display/item/1486570867/14321731336007aa123e015.png");
  background-size: cover;
}
.company-logo {
  width: 46px;
  height: 46px;
  /* display: block; */
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 15px;
  border-radius: 6px;
  object-fit: cover;
  transform: translate(0, -50%);

  /* height: 100%; */
  /* object-fit: contain; */
}

.job-description {
  padding-left: 76px;
  padding-top: 15px;
}
.job-description p {
  margin: 0;
  padding: 0;

  /* display: inline; */
}
.job-position {
  font-size: 15px;
  color: #18191f;
}
.company-name {
  font-size: 12.5px;
  color: #cecfd5;
}
.company-info {
  font-size: 13px;
  color: #78797d;
}

.small-device-category,
.content,
.offer,
.ad {
  box-shadow: 0 6px 25px rgb(24 25 31 / 5%);
}

.new-contents-grid {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(5, 340px);
  grid-gap: 30px 30px;
}

.thumbnail {
  width: 100%;
  height: 145px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.content-preview {
  height: 140px;
  box-sizing: border-box;
  color: black;
  padding: 15px;
  border-bottom: 1px solid lightgrey;
  position: relative;
}

.content-preview h4 {
  color: #393a40;
  -webkit-line-clamp: 2;
  font-size: 16.5px;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  padding-top: 6px;
  word-break: keep-all;
  margin: 0;
  padding: 0;
}

.content-preview p {
  padding: 10px;
  color: #717278;
  width: 100%;
  -webkit-line-clamp: 2;
  font-size: 13.5px;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  padding-top: 6px;
  word-break: keep-all;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.content-category {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 10px;
}
.content-category li {
  display: inline-block;
  font-size: 13.5px;
  font-weight: 300;
  color: #393a40;
  margin-right: 5px;
}
.author {
  height: 51px;
  width: 100%;
}

.author img {
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 7px;
  left: 15px;

  display: inline-block;
}

.author-name {
  display: inline-block;
  margin: 0;
  margin-left: 20px;
  color: #717278;
  font-size: 13.5px;
  line-height: 51px;
}

.content:hover,
.offer:hover,
.ad:hover {
  transform: translate(0, -3px);
  box-shadow: rgba(113, 114, 120, 0.1) 0px 5px 10px 5px;
}

@media only screen and (max-width: 1600px) {
  .recommend-contents-grid {
    box-sizing: border-box;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 340px 1;
    height: 340px;
    overflow: hidden;
  }

  .new-contents-grid {
    grid-template-columns: repeat(3, 300px);
  }
}

@media only screen and (max-width: 1280px) {
  .recommend-contents-grid {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 340px 2;
    height: 100%;
    grid-row-gap: 30px;
    /* height: 340px; */
    /* overflow: hidden; */
  }

  .new-contents-grid {
    grid-template-columns: repeat(2, 300px);
  }

  .recommend-contents-grid .job-offer {
    padding-top: 0;
  }

  .new-job {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .license {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 10px;
    display: flex;
  }
  .banner-img-name,.banner-img-author{
    margin: 0;
    padding: 0;
    color: #b6b7bd;
    font-size: 13.5px;
    font-weight: 400;
  }

  .license .banner-img-name{
    margin-right: 3px;
  }
  
  .sidebar {
    display: none;
  }

  .small-device-category{
    display: block;
  }

  .contents-box {
    padding-left: 0;
  }
}

@media only screen and (max-width: 770px) {
  .recommend-contents-grid,.new-contents-grid{
    display: block;

  }

  .recommend-contents-grid .job-offer{
    display: none;
  }

  .content{
    margin-bottom: 20px;

  }
}