#container {
	width: 1200px;
	margin: auto;
	background-color: aqua;
}

#header{
	height: 120px;
	background-color: gray;
}

#sidebar {
	height: 600px;
	width: 300px;
	background-color: aqua;
	float: left;
}

#contents {
	width: 900px;
	height: 600px;
	background-color: beige;
	float: right;
}

#footer {
	height: 100px;
	background-color: gray;
	/* width: 1200px; */
	clear: both;
}